body {
    background-color: blanchedalmond;
}

header,
footer {
    background-color: bisque;
    padding: 10px;
    text-align: center;
}

h1 {
    font-family: 'Rubik Moonrocks', cursive;
}

nav {
    margin: 5px;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: bisque;
    padding: 3px;
    border-radius: 3px;
    transition: 1s;
}

nav a:hover {
    background-color: rgb(75, 56, 7);
    color: wheat;
}

main {
    overflow: hidden;
}

.first {
    color: chocolate;
}

.second {
    color: chocolate;
}

.third {
    color: chocolate;
}

.fourth {
    color: chocolate;
}

ul {
    color: chocolate;
}

img {
    float: left;
    margin-right: 20px;
}